{% extends "base.html" %}
{% block base %}

    <div class="container" style="width: 300px" align="center">

      <form class="form-signin" action="/login/" method="post" >
           {% csrf_token %}
        <h2 class="form-signin-heading">接口测试平台</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input style="margin-top: 20px" type="text" id="inputUsername" name="username"class="form-control" placeholder="请输入用户名" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input style="margin-top: 20px" type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" required>
          <div style="color: red">{{ msg }}</div>
        <button style="margin-top: 20px" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->
{% endblock %}