{% extends "base.html" %}
{% block base %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口自动化测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">设置</a></li>
            <li><a href="/logout/">注销</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/project/list/"><i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;项目管理</a></li>
            <li><a href="/module/list/"><i class="glyphicon glyphicon-signal"></i>&nbsp;&nbsp;模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/case/list/"><i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;用例管理</a></li>
            <li><a href="/task/list/"><i class="glyphicon glyphicon-tags"></i>&nbsp;&nbsp;任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/mock/list/"><i class="glyphicon glyphicon-refresh"></i>&nbsp;&nbsp;Mock Server</a></li>
            <li><a href="/tools/list/"><i class="glyphicon glyphicon-bishop"></i>&nbsp;&nbsp;测试工具</a></li>
          </ul>
        </div>
        {% if type == "list" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">项目列表<button type="button" class="btn btn-sm btn-primary" style="float: right" onclick="location.href='/project/add/'" >创建</button></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>项目ID</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>状态</th>
                  <th>创建时间</th>
                    <th>编辑</th>
                </tr>
              </thead>
              <tbody>
              {% for project in projects %}
                <tr>
                  <td>{{ project.id }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.describe }}</td>
                  <td>
                      {% if project.status == 1 %}
                        <span>开启</span>
                      {% else %}
                        <span>关闭</span>
                      {% endif%}
                  </td>
                  <td>{{ project.creattime  | date:"Y-m-d H:i:s"}}</td>
                  <td>
                      <a href="/project/update/{{ project.id }}">编辑</a>
                      <a href="/project/delete/{{ project.id }}">删除</a>
                  </td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
        {% endif %}

        {% if type == "add" %}
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">新增项目</h2>
             <form action="/project/add/" method="post">
                 {% csrf_token %}
                 <table>
                  <tr>
                      <td><b>名称：</b></td>
                      <td><input type="text" name="name" /></td>
                  </tr>
                  <tr>
                     <td><b>描述：</b></td>
                     <td>
                      <input type="text" name="describe" /></td>
                  </tr>
                  <tr>
                     <td><b>状态：  </b></td>
                      <td>
                      <input type="radio"  name="status" value="1" checked/>开启
                      <input type="radio"  name="status" value="0"/>关闭
                      </td>
                  </tr>
                  <tr>
                  <td colspan="2" align="center"><input type="submit" value="提交"/>     <input type="reset" value="重置"/></td>
                  </tr>
                </table>
             </form>
         </div>
        {% endif %}

         {% if type == "update" %}
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">编辑项目</h2>
             <form action="/project/update/{{ project.id }}/" method="post">
                 {% csrf_token %}
                 <table>
                  <tr>
                      <td><b>名称：</b></td>
                      <td><input type="text" name="name" value="{{ project.name }}"/></td>
                  </tr>
                  <tr>
                     <td><b>描述：</b></td>
                     <td>
                      <input type="text" name="describe"  value="{{ project.describe }}"/></td>
                  </tr>
                  <tr>
                     <td><b>状态：  </b></td>
                      {% if project.status == 1 %}
                          <td>
                          <input type="radio"  name="status" value="1" checked/>开启
                          <input type="radio"  name="status" value="0"/>关闭
                          </td>
                      {% else %}
                          <td>
                          <input type="radio"  name="status" value="1" />开启
                          <input type="radio"  name="status" value="0" checked/>关闭
                          </td>
                      {% endif %}
                  </tr>
                  <tr>
                  <td colspan="2" align="center"><input type="submit" value="提交"/>     <input type="reset" value="重置"/></td>
                  </tr>
                </table>
             </form>
         </div>
        {% endif %}


      </div>
    </div>
{% endblock %}